<form action="/quotes" method="POST">
    <label for="name">Your name:</label><br>
    <input type="text" placeholder="name" name="name" />
    <label for="name">Your quote:</label><br>
    <input type="text" placeholder="quote" name="quote" />
    <button type="submit" class="btn btn-success">Submit</button>
</form>